<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
<style>
ol.breadcrumb {
  justify-content: space-between;
  position: relative;
  margin: 25px -55px;
}

ol.breadcrumb::before {
  position: absolute;
  content: "";
  width: 80%;
  left: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
  height: 3px;
  background: rgb(152, 152, 152);
}

.breadcrumb__item.breadcrumb__item--current {
  color: rgb(0, 0, 0);
}

.breadcrumb__item {
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  max-width: 20%;
  position: relative;
  z-index: 5;
  color: rgb(152, 152, 152);
}

.breadcrumb__item svg {
  display: none;
}

.breadcrumb__item a, .breadcrumb__item span {
  text-transform: uppercase;
  position: relative;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  padding-top: 60px;
  color: inherit;
  min-width: 40px;
}

.breadcrumb__item a::after, .breadcrumb__item span::after {
  content: "";
  display: flex;
  justify-content: center;
  align-content: center;
  border: 4px solid currentcolor;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: currentcolor;
  font-size: 20px;
  line-height: 40px;
  background: rgb(246, 246, 246);
}

@media (max-width: 740px) {
  .breadcrumb__item a::after, .breadcrumb__item span::after {
    border-width: 3px;
  }
}

.breadcrumb__item.breadcrumb__item--current a::after, .breadcrumb__item.breadcrumb__item--current span::after {
  background: #F4C042;
  border-color: #060203;
  color: #060203;
}

.breadcrumb__item:nth-child(1) a::after, .breadcrumb__item:nth-child(1) span::after {
  content: "1";
}

.breadcrumb__item:nth-child(2) a::after, .breadcrumb__item:nth-child(2) span::after {
  content: "2";
}

.breadcrumb__item:nth-child(3) a::after, .breadcrumb__item:nth-child(3) span::after {
  content: "3";
}

.breadcrumb__item:nth-child(4) a::after, .breadcrumb__item:nth-child(4) span::after {
  content: "4";
}

.breadcrumb__item:nth-child(5) a::after, .breadcrumb__item:nth-child(5) span::after {
  content: "5";
}

.breadcrumb__item.breadcrumb__item--completed a::after, .breadcrumb__item.breadcrumb__item--completed span::after {
  background-image: url("//cdn.shopify.com/s/files/1/2068/9901/t/79/assets/check-solid.svg?v=12412351534927823078");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  background-size: 60%;
  content: "";
}

.extra-bread {
  display: none;
}

@media (max-width: 750px) {
  ol.breadcrumb {
    margin: 0px !important;
  }
}

@media (max-width: 750px) {
  .breadcrumb__item a, .breadcrumb__item span {
    font-size: 8px;
    min-width: 30px;
  }

  .extra-bread {
    display: block;
  }

  .normal-bread {
    display: none;
  }
}

.checkout-timer-container {
  padding-top: 0px;
}

</style>